@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e0e5ec;
  overflow: hidden;
}

.box {
  position: relative;
  z-index: 1000;
}

.container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.05),
    -40px -40px 80px rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dycalendar {
  width: 100%;
  padding: 20px;
}

#dycalendar table {
  width: 100%;
  margin-top: 40px;
  border-spacing: 5px;
}

#dycalendar table tr:nth-child(1) td {
  background: #fff;
  color: #696969;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 4px 4px 15px #caced4, -4px -4px 15px #f6fcff;
}

#dycalendar table tr td:nth-child(1) {
  color: #fff;
  background: rgba(220, 53, 69, 0.9);
  box-shadow: 4px 4px 15px #caced4 !important;
}

#dycalendar table tr td:nth-child(1):hover {
  color: #fff !important;
  background: rgba(220, 53, 69, 0.9);
  box-shadow: 4px 4px 15px #caced4 !important;
}

#dycalendar table td {
  color: #656565;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

#dycalendar table td:hover {
  background: #fff;
  color: #111 !important;
  box-shadow: 4px 4px 15px #caced4, -4px -4px 15px #f6fcff;
}

.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date {
  background: #fff;
  color: #111 !important;
  box-shadow: 4px 4px 15px #caced4, -4px -4px 15px #f6fcff;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn {
  background: rgba(255, 255, 255, 0.5);
  color: #696969;
  width: 44px;
  height: 38px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn:hover {
  background: rgba(255, 255, 255, 0.9);
}

.dycalendar-month-container .dycalendar-span-month-year {
  color: #111;
  font-size: 1.5em;
  font-weight: 500;
}

/* Other Content  */

.text {
  font-family: poppins;
  position: absolute;
  top: 30px;
  right: 20px;
}

h1 {
  font-size: 60px;
  font-weight: 600;
}

.social-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 5px;
}

a {
  width: 40px;
  height: 40px;
  margin: 10px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.95);
  transition: transform 0.4s;
}

i {
  color: grey;
  font-size: 20px;
  transition: 0.2s;
}

a:hover .fa-github {
  color: rgb(53, 50, 50);
}

.absolute {
  position: absolute;
  bottom: 10px;
}

h2 {
  font-family: poppins;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-family: poppins;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  .box {
    margin: 100px 0 150px;
  }
}
